<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>

<body>
	
<header th:fragment="header">
    <div class="topnav">
        <a class="active" th:href="@{/}">Home</a>
		<span th:if="${isUserAuthenticated}">
			    <a class="left">Welcome <span sec:authentication="name">name?</span></a>
			</span>

	        <span sec:authorize="hasRole('BLOGUSER')">
	       		<a class="left" th:href="@{/createNewPost}">New Post</a>
	        </span>
			
			<span th:if="${isUserAuthenticated}">
	        	<a class="right" th:href="@{/logout}">Logout</a>
	        </span>
	        
			<div th:if="${#authentication == null}">
	        	<a class="right" th:href="@{/login}">Login</a> 
				 <a class="right" th:href="@{/signup}">Signup</a>
	        </div>
    </div>
    <div class="header">
        <h2>Pnimac's Microblog</h2>
    </div>
</header>

</body>
</html>